<li class={{ node.field_type.value }}>
  <div class="img-bg">
    <img alt="banner item 1" src={{ file_url(node.field_image.entity.uri.value) }} />
  </div>
  <div class="bls-carousel__content">
    <div class="text">
      <div class="caption">{{ node.field_caption.value }}</div>
      <div class="cta"><a class="btn btn-border btn-border--white" href="./brayleinosplash_home" title="Read more">Read more</a></div>
    </div>
  </div>
</li>