{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
<div class="footer">
<div class="container">
<div class="unicef-footer">
<div class="row">
<div class="col-12 col-lg-6">
<div class="unicef-info"><a class="logo" href="#"><img alt="logo" src="/drupal-8.7.8/sites/default/files/styles/images/unicef-logo-standard.png" /> </a>
<p class="copy-right">© 2019 UNICEF - ALL RIGHTS RESERVED</p>
</div>
</div>

<div class="col-12 col-lg-6">
<div class="footer-nav d-flex"><a class="footer-nav__item" href=""> Privacy Policy </a> <a class="footer-nav__item" href=""> Legal</a> <a class="footer-nav__item" href=""> Contact us</a></div>
</div>
</div>
</div>
</div>
</div>

{% endif %}
