{#
/**
 * @file
 * Theme override for footer social menu block.
 *
 */
#}
<div class="footer-social-network">
  <div class="container">
    <h4>Connect with us on</h4>
    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>